#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

url --url="ftp://192.168.224.4/pub/"
# Use CDROM installation media
#cdrom
# Use graphical install
#graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s10 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s3 --onboot=off --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s8 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=enp0s9 --onboot=off --ipv6=auto --activate
network  --hostname=kickstart-test

# Root password
rootpw --iscrypted $6$FrKjEDCiu1gCnMA.$jWplOzmC96XU8dgO1Vjny7DEQXt/h1SA2MJlLtRH4MU6vBkfzlj37geqPCnCY99H2CBBkYRyGQkonFoNz1X0B/
# System services
services --disabled="chronyd"
# System timezone
timezone America/Costa_Rica --isUtc --nontp
user --name=dkiel --password=$6$Vs3tpMbofXfgMiuy$PAUiuwi6iId8fiGZj6J/wkDzbALwLkryfMPcMXPbRx28D//eAp8/X8UK6qrCr9qga0UrCyGfkXibJIlO26Lhj/ --iscrypted --gecos="dkiel"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%post --log=/root/ks-post.log
yum update -y
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
